/* colors roots */
:root {
  --color-primary: #e6c614;
  --color-secondary: #131615;
  --color-white: #ffffff;
  --color-light-grey: #e7e7e7;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
  --color-section-bg: #dfdcdc;
  --color-gray:#66666f;
  --color-gradient: linear-gradient(gray, black);

  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}














.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
